<h1 style="color: #5e9ca0;">Hello !! Welcome to your webserver</h1>
<p>Its Yours and You Own it!!&nbsp;<img src="https://html-online.com/editor/tinymce4_6_5/plugins/emoticons/img/smiley-cool.gif" alt="cool" /></p>
<p>&nbsp;</p>
<p><img src="https://gitlab.com/sikdera/my-sample-app/-/raw/a268ebb17571d7ba594b98908658cfcfe7ab2687/thumbsup.gif" alt="ThumbsUp" /></p>
<p>&nbsp;</p>